@import "../../mixins";

.main-cities{
    padding: 0 40px;

    @media (max-width: 1024px){
        padding: 0 20px;
    }

    .customBlock{
        margin: 0 auto;
        max-width: var(--inner-max-width);

        .cities{
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: flex-start;
            align-items: stretch;

            .city{
                flex: 1 1 calc(calc(25% - 20px) - 40px);
                @include linearTopGradient(rgba(var(--color-white-rgb), .01), rgba(var(--color-white-rgb), .04));
                @include box-shadow(0 0 4px var(--color-accent-teal-10));
                border: solid 1px var(--color-accent-teal-10);
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                text-align: left;
                gap: 18px;
                transition: all .35s;
                transform: translateZ(10px);
                border-radius: 18px;
                padding: 18px 20px;

                &:hover{
                    transform: scale(1.05) translateZ(10px);
                    @include box-shadow(0 0 4px var(--color-accent-teal-20));
                }

                .cityName{
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    margin-bottom: 8px;

                    svg{
                        width: 20px;
                        height: 20px;
                        color: var(--color-accent-teal);
                    }

                    span{
                        font-family: var(--font-secondary);
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 1.2;
                    }
                }

                .distance,
                .time{
                    display: flex;
                    align-items: center;
                    gap: 12px;

                    svg{
                        width: 16px;
                        height: 16px;
                        color: var(--color-accent-yellow);
                    }

                    span{
                        font-family: var(--font-secondary);
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 1.2;
                    }
                }
            }
        }
    }
}
