@import "../../mixins";

.main-cost-calculation{
    padding: 0 40px;

    @media (max-width: 1024px){
        padding: 0 20px;
    }

    .customBlock{
        margin: 0 auto;
        max-width: var(--inner-max-width-sm);

        .costCalculation{
            width: 100%;
            max-width: var(--inner-max-width);
            padding: 48px;
            border-radius: 18px;
            text-align: center;
            color: var(--color-text-white);
            @include linearTopGradient(rgba(var(--color-bg-secondary-rgb), .75), rgba(var(--color-bg-main-rgb), .75));
            @include box-shadow(0 0 10px var(--color-accent-teal-10));
            backdrop-filter: blur(8px);
            border: solid 1px var(--color-accent-teal-10);
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 38px;
            transition: transform .35s, opacity .35s;
            transform: translateZ(10px);

            .title{
                font-weight: 600;
                font-size: 34px;
                line-height: 1.2;
            }

            .typo{
                font-size: 16px;
                line-height: 1.5;
                max-width: 600px;
                margin: 0 auto;
            }

            .columns{
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                gap: 20px;
                width: 100%;
                text-align: center;
                max-width: 620px;
                margin: 0 auto;

                .column{
                    display: inline-flex;
                    flex-direction: column;
                    gap: 12px;

                    .cTitle{
                        font-weight: 600;
                        font-size: 28px;
                        line-height: 1.2;
                    }
                }
            }
        }
    }
}
