@import "../../mixins";

.main-districts{
    padding: 0 40px;

    @media (max-width: 1024px){
        padding: 0 20px;
    }

    .customBlock{
        margin: 0 auto;
        max-width: var(--inner-max-width);

        .districts{
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: flex-start;
            align-items: stretch;

            @media (max-width: 1024px){
                justify-content: center;
            }

            @media (max-width: 768px){
                gap: 12px;
            }

            .district{
                flex: 1 1 calc(20% - 16px); // базове значення для 5 колонок
                @include linearTopGradient(rgba(var(--color-white-rgb), .01), rgba(var(--color-white-rgb), .04));
                @include box-shadow(0 0 4px var(--color-accent-teal-10));
                border: solid 1px var(--color-accent-teal-10);
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 10px;
                transition: all .35s;
                transform: translateZ(10px);
                border-radius: 12px;
                padding: 14px 18px;
                text-align: left;

                @media (max-width: 1024px){
                    flex: 0 0 calc((100% - 60px) / 3);
                }

                @media (max-width: 768px){
                    flex: 0 0 calc((100% - 40px) / 2);
                    padding: 12px 16px;
                }

                &:before{
                    content: '';
                    display: block;
                    width: 8px;
                    height: 8px;
                    background-color: var(--color-accent-green);
                    border-radius: 50%;
                    position: relative;
                    flex-shrink: 0;
                }

                span{
                    display: block;
                    font-family: var(--font-secondary);
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 1;

                    @media (max-width: 768px){
                        font-size: 13px;
                    }
                }
            }

            &.col-5 .district{
                flex: 0 0 calc((100% - 80px) / 5) !important;

                @media (max-width: 1024px){
                    flex: 0 0 calc((100% - 60px) / 3) !important;
                }

                @media (max-width: 768px){
                    flex: 0 0 calc((100% - 40px) / 2) !important;
                }
            }
            &.col-6 .district{
                flex: 0 0 calc((100% - 100px) / 6) !important;

                @media (max-width: 1024px){
                    flex: 0 0 calc((100% - 60px) / 3) !important;
                }

                @media (max-width: 768px){
                    flex: 0 0 calc((100% - 40px) / 2) !important;
                }
            }
        }
    }
}
