@import "../../mixins";

.main-gallery{
    padding: 0 40px;

    @media (max-width: 1024px){
        padding: 0 20px;
    }

    .customBlock{
        margin: 0 auto;
        max-width: var(--inner-max-width-md);
        width: 100%;
        padding: 24px;
        border-radius: 18px;
        text-align: center;
        color: var(--color-text-white);
        @include linearTopGradient(rgba(var(--color-bg-secondary-rgb), .75), rgba(var(--color-bg-main-rgb), .75));
        @include box-shadow(0 0 10px var(--color-accent-teal-10));
        backdrop-filter: blur(8px);
        border: solid 1px var(--color-accent-teal-10);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 18px;
        transition: transform .35s, opacity .35s;
        transform: translateZ(10px);

        .gallery{
            border-radius: 8px;

            img{
                height: auto;
                border-radius: 8px;
            }
        }
    }
}
