@import "../../mixins";

.main-hint{
    padding: 0 40px;

    @media (max-width: 1024px){
        padding: 0 20px;
    }

    .customBlock{
        margin: 0 auto;
        max-width: var(--inner-max-width-sm);

        .tealBox{
            background-color: rgba(var(--color-accent-teal-rgb), .1);
            border: solid 1px var(--color-accent-teal);
            border-radius: 12px;
            padding: 24px;
            display: flex;
            align-items: flex-start;
            gap: 24px;
            font-size: 15px;
            line-height: 1.5;
            color: var(--color-text-white);

            @media (max-width: 1024px){
                flex-direction: column;
                align-items: center;
                text-align: center;
                gap: 16px;
            }

            figure{
                width: 64px;
                height: 64px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgba(var(--color-accent-teal-rgb), .2);
                color: var(--color-accent-teal);
                flex-shrink: 0;

                @media (max-width: 1024px){
                    width: 48px;
                    height: 48px;
                }

                svg{
                    width: 32px;
                    height: 32px;

                    @media (max-width: 1024px){
                        width: 24px;
                        height: 24px;
                    }
                }
            }

            .meta{
                display: inline-flex;
                flex-direction: column;
                gap: 8px;

                @media (max-width: 1024px){
                    align-items: center;
                }

                .title{
                    font-size: 28px;
                    font-weight: 500;

                    @media (max-width: 1024px){
                        font-size: 22px;
                    }
                }
                .typo{
                    line-height: 1.5;

                    @media (max-width: 1024px){
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
