@import "../../mixins";

.main-icon{
    padding: 0 40px;

    @media (max-width: 1024px){
        padding: 0 20px;
    }

    .customBlock{
        margin: 0 auto;
        max-width: var(--inner-max-width);

        .icon{
            display: block;
            max-width: 52px;
            font-size: 0;
            margin: 0 auto;

            @media (max-width: 1024px){
                max-width: 40px;
            }

            svg{
                width: 52px;
                height: 52px;

                @media (max-width: 1024px){
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}
