{% extends "base.twig" %}

{% block content %}

<div class="page404box">

    <p class="code">404</p>

    {% if general_fields.page_404_title %}
    <h1 class="title">{{ general_fields.page_404_title }}</h1>
    {% endif %}

    {% if general_fields.page_404_text %}
    <div class="typo">
        {{ general_fields.page_404_text }}
    </div>
    {% endif %}

    {% if general_fields.page_404_button.url and general_fields.page_404_button.title %}
        {% include 'overall/button.twig' with {'link': general_fields.page_404_button, 'type': general_fields.page_404_button_type} %}
    {% endif %}

</div>

{% endblock %}