/* animations
-------------------------------------------------------------- */

@keyframes scroll-wheel {
    0%{
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
    100%{
        opacity: 0;
        transform: translateX(-50%) translateY(12px);
    }
}

@include keyframe(pulse) {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@include keyframe(shadow-wave) {
    0% {
        box-shadow: 0 0 0 0 rgba(var(--color-accent-orange-rgb), 0.7);
        opacity: 1;
    }
    100% {
        box-shadow: 0 0 0 40px rgba(var(--color-accent-orange-rgb), 0);
        opacity: 0;
    }
}
