/* animations
-------------------------------------------------------------- */

@keyframes scroll-wheel {
    0%{
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
    100%{
        opacity: 0;
        transform: translateX(-50%) translateY(12px);
    }
}
