/* extended styles
-------------------------------------------------------------- */

.typo{
    img{
        max-width:100%;
        height: auto;
        margin-bottom: 2px;
    }
    b,
    strong{
        font-weight: bold;
    }
    p{
        font-size: 16px;
        margin-bottom: 16px;

        &:last-child{
            margin-bottom: 0;
        }
    }
    a{
        color: var(--color-accent-orange);
        text-decoration: underline;
        position: relative;

        &:hover{
            text-decoration: none;
        }
    }
    em{
        font-style: italic;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6{
        font-size: 16px;
        margin-bottom: 16px;
        font-weight: normal;

        &:last-child{
            margin-bottom: 0;
        }
    }
    ul{
        display: block;
        margin: 0 0 16px 0;
        list-style: none;
        padding: 0;

        &:last-child{
            margin-bottom: 0;
        }

        li{
            padding-left: 22px;
            margin-bottom: 12px;
            position: relative;

            &:before{
                content: "";
                display: block;
                position: absolute;
                top: 11px;
                left: 2px;
                box-sizing: border-box;
                background-color: var(--color-accent-orange);
                width: 6px;
                height: 6px;
                @include border-radius(50%);
            }

            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    ol{
        counter-reset: my-ol-counter;
        display: block;
        margin: 0 0 28px 0;
        list-style: none;
        padding: 0;

        &:last-child{
            margin-bottom: 0;
        }

        li{
            padding-left: 22px;
            margin-bottom: 12px;
            position: relative;

            &:before{
                content: counter(my-ol-counter)'. ';
                counter-increment: my-ol-counter;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                background-color: transparent;
                box-sizing: border-box;
                color: var(--color-accent-orange);
                font-weight: 600;
            }

            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    blockquote{
        position: relative;
        padding: 4px 4px 4px 26px;
        margin-bottom: 40px;

        &:last-child{
            margin-bottom: 0;
        }

        &:before{
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 2px;
            height: 100%;
            background-color: var(--color-accent-orange);
        }

        b,
        strong{
            font-weight: 700;
        }

        p{
            line-height: 1.34;
            margin-bottom: 10px;
        }

        @media (max-width: 920px) {
            padding: 4px 20px 4px 22px;
        }
    }
    hr{
        margin-bottom: 14px;
        border: none;
        display: block;
        width: 100%;
        height: 2px;
        background-color: var(--color-white-80);

        &:last-child{
            margin-bottom: 0;
        }
    }
    table{
        border-top-width: 1px;
        border-left-width: 1px;
        border-top-style: solid;
        border-left-style: solid;
        border-top-color: var(--color-accent-orange);
        border-left-color: var(--color-accent-orange);
        font-weight: normal;
        font-style: normal;
        line-height: normal;
        font-variant: normal;
        text-transform: none;
        text-decoration: none;
        text-align: center;
        vertical-align: middle;
        width: 100%;
        margin-bottom: 14px;

        &:last-child{
            margin-bottom: 0;
        }
        tr {
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-bottom-color: var(--color-accent-orange);
            td,
            th{
                border-right-width: 1px;
                border-right-style: solid;
                border-right-color: var(--color-accent-orange);
                border-bottom-width: 1px;
                border-bottom-style: solid;
                border-bottom-color: var(--color-accent-orange);
                padding: 20px;
            }
        }
    }
    .mce-{

        &font-montserrat{
            font-family: var(--font-primary);
        }
        &font-ubuntu{
            font-family: var(--font-secondary);
        }

        &text-size{
            &-10{ font-size: 10px; line-height: 1.3; }
            &-11{ font-size: 11px; line-height: 1.3; }
            &-12{ font-size: 12px; line-height: 1.3; }
            &-13{ font-size: 13px; line-height: 1.3; }
            &-14{ font-size: 14px; line-height: 1.3; }
            &-15{ font-size: 15px; line-height: 1.3; }
            &-16{ font-size: 16px; line-height: 1.3; @media (max-width: 1024px) { font-size: 15px; } }
            &-17{ font-size: 17px; line-height: 1.3; @media (max-width: 1024px) { font-size: 16px; } }
            &-18{ font-size: 18px; line-height: 1.3; @media (max-width: 1024px) { font-size: 17px; } }
            &-19{ font-size: 19px; line-height: 1.2; @media (max-width: 1024px) { font-size: 18px; } }
            &-20{ font-size: 20px; line-height: 1.2; @media (max-width: 1024px) { font-size: 19px; } }
            &-22{ font-size: 22px; line-height: 1.2; @media (max-width: 1024px) { font-size: 20px; } }
            &-24{ font-size: 24px; line-height: 1.2; @media (max-width: 1024px) { font-size: 22px; } }
            &-26{ font-size: 26px; line-height: 1.2; @media (max-width: 1024px) { font-size: 22px; } }
            &-28{ font-size: 28px; line-height: 1.2; @media (max-width: 1024px) { font-size: 23px; } }
            &-32{ font-size: 32px; line-height: 1.2; @media (max-width: 1024px) { font-size: 24px; } }
            &-36{ font-size: 36px; line-height: 1.2; @media (max-width: 1024px) { font-size: 25px; } }
            &-42{ font-size: 42px; line-height: 1.2; @media (max-width: 1024px) { font-size: 26px; } }
            &-48{ font-size: 48px; line-height: 1.2; @media (max-width: 1024px) { font-size: 28px; } }
            &-50{ font-size: 50px; line-height: 1.2; @media (max-width: 1024px) { font-size: 30px; } }
            &-52{ font-size: 52px; line-height: 1.2; @media (max-width: 1024px) { font-size: 32px; } }
            &-54{ font-size: 54px; line-height: 1.2; @media (max-width: 1024px) { font-size: 32px; } }
            &-56{ font-size: 56px; line-height: 1.2; @media (max-width: 1024px) { font-size: 33px; } }
            &-58{ font-size: 58px; line-height: 1.2; @media (max-width: 1024px) { font-size: 34px; } }
        }

        &text-color-accent-teal{ color: var(--color-accent-teal); }
        &text-color-accent-orange{ color: var(--color-accent-orange); }
        &text-color-accent-yellow{ color: var(--color-accent-yellow); }
        &text-color-text-white{ color: var(--color-text-white); }
        &text-color-white-80{ color: var(--color-white-80); }
        &text-color-white-60{ color: var(--color-white-60); }
        &text-color-white-40{ color: var(--color-white-40); }
        &text-color-bg-main{ color: var(--color-bg-main); }
        &text-color-bg-secondary{ color: var(--color-bg-secondary); }
        &text-color-bg-darkest{ color: var(--color-bg-darkest); }

        &background-text-color{
            padding: 1px 2px;
            border-radius: 2px;
            display: inline-block;

            &-accent-teal{ background-color: var(--color-accent-teal); }
            &-accent-orange{ background-color: var(--color-accent-orange); }
            &-accent-yellow{ background-color: var(--color-accent-yellow); }
            &-text-white{ background-color: var(--color-text-white); }
            &-white-80{ background-color: var(--color-white-80); }
            &-white-60{ background-color: var(--color-white-60); }
            &-white-40{ background-color: var(--color-white-40); }
            &-bg-main{ background-color: var(--color-bg-main); }
            &-bg-secondary{ background-color: var(--color-bg-secondary); }
            &-bg-darkest{ background-color: var(--color-bg-darkest); }
        }
    }
}

.no-select{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.preload *{
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.customBlockWrapper{
    display: block;
    position: relative;
    width: 100%;
    z-index: 8;
    @include transform(translateZ(8px));

    &:not(.desktop_tablet){
        @media (min-width: 961px) {
            display: none;
        }
    }
    &:not(.mobile){
        @media (max-width: 960px) {
            display: none;
        }
    }

    .customBlock{
        margin: 0 auto;
        display: block;
        position: relative;
        width: 100%;
        z-index: 12;
        @include transform(translateZ(12px));
    }
}

.overallButton{
    border-radius: 12px;
    padding: 12px 16px;
    line-height: 1.3;
    font-family: inherit;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: all .35s;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
    gap: 10px;
    min-height: 50px;

    @media (max-width: 1024px) {
        font-size: 14px;
        padding: 10px 14px;
        min-height: 44px;
    }

    span{
        line-height: 1.2;
        transition: inherit;

        @media (max-width: 1024px) {
            line-height: 1.1;
        }
    }

    svg{
        width: 20px;
        height: 20px;
        transition: inherit;

        @media (max-width: 1024px) {
            width: 18px;
            height: 18px;
        }
    }

    &.optional-bold{
        font-weight: 700;
    }

    &.style-teal-solid{
        color: var(--color-white);
        border: 1px solid var(--color-accent-teal);
        background: var(--color-accent-teal);

        &:hover{
            border: 1px solid var(--color-accent-teal);
            background-color: var(--color-white);
            color: var(--color-accent-teal);

            svg{
                fill: var(--color-accent-teal);
            }
        }
    }

    &.style-orange-solid{
        color: var(--color-white);
        border: 1px solid var(--color-accent-orange);
        background: var(--color-accent-orange);

        &:hover{
            border: 1px solid var(--color-accent-orange);
            background-color: var(--color-white);
            color: var(--color-accent-orange);

            svg{
                fill: var(--color-accent-orange);
            }
        }
    }

    &.style-yellow-solid{
        color: var(--color-white);
        border: 1px solid var(--color-accent-yellow);
        background: var(--color-accent-yellow);

        &:hover{
            border: 1px solid var(--color-accent-yellow);
            background-color: var(--color-white);
            color: var(--color-accent-yellow);

            svg{
                fill: var(--color-accent-yellow);
            }
        }
    }

    &.style-white-plain{
        color: var(--color-bg-darkest);
        border: none;
        background: var(--color-white);

        svg{
            fill: var(--color-bg-darkest);
        }

        &:hover{
            background-color: var(--color-white);
        }
    }

    &.style-outlined-dark-to-teal{
        color: var(--color-bg-darkest);
        border: 1px solid var(--color-bg-darkest);
        background: transparent;

        svg{
            fill: var(--color-bg-darkest);
        }

        &:hover{
            border: 1px solid var(--color-accent-teal);
            background-color: var(--color-accent-teal);
            color: var(--color-white);

            svg{
                fill: var(--color-white);
            }
        }
    }

    &.style-outlined-dark{
        color: var(--color-bg-darkest);
        border: 1px solid var(--color-bg-darkest);
        background: transparent;

        svg{
            fill: var(--color-bg-darkest);
        }

        &:hover{
            border: 1px solid var(--color-bg-darkest);
            background-color: var(--color-bg-darkest);
            color: var(--color-white);

            svg{
                fill: var(--color-white);
            }
        }
    }

    &.style-dark-solid{
        color: var(--color-white);
        border: 1px solid var(--color-bg-darkest);
        background: var(--color-bg-darkest);

        svg{
            fill: var(--color-white);
        }

        &:hover{
            border: 1px solid var(--color-bg-darkest);
            background-color: var(--color-white);
            color: var(--color-bg-darkest);

            svg{
                fill: var(--color-bg-darkest);
            }
        }
    }

    &.style-white-to-dark{
        color: var(--color-bg-darkest);
        border: 1px solid var(--color-white);
        background: var(--color-white);

        svg{
            fill: var(--color-bg-darkest);
        }

        &:hover{
            border: 1px solid var(--color-bg-darkest);
            background-color: var(--color-bg-darkest);
            color: var(--color-white);

            svg{
                fill: var(--color-white);
            }
        }
    }

    &.style-white-outlined-transparent{
        color: var(--color-bg-darkest);
        border: 1px solid var(--color-white);
        background: var(--color-white);

        svg{
            fill: var(--color-bg-darkest);
        }

        &:hover{
            border: 1px solid var(--color-white);
            background-color: transparent;
            color: var(--color-white);

            svg{
                fill: var(--color-white);
            }
        }
    }

    &.style-teal-to-white{
        border: 1px solid var(--color-accent-teal);
        background-color: var(--color-accent-teal);
        color: var(--color-white);

        svg{
            fill: var(--color-white);
        }

        &:hover{
            border: 1px solid var(--color-white);
            background-color: var(--color-white);
            color: var(--color-accent-teal);

            span{
                color: var(--color-accent-teal);
            }

            svg{
                fill: var(--color-accent-teal);
            }
        }
    }

    &.style-teal-to-orange{
        border: 1px solid var(--color-accent-teal);
        background-color: var(--color-accent-teal);
        color: var(--color-white);

        svg{
            fill: var(--color-white);
        }

        &:hover{
            border: 1px solid var(--color-accent-orange);
            background-color: var(--color-accent-orange);
            color: var(--color-bg-darkest);

            span{
                color: var(--color-bg-darkest);
            }

            svg{
                fill: var(--color-bg-darkest);
            }
        }
    }

    &.style-text-underline{
        color: var(--color-bg-darkest);
        border: none;
        background: transparent;
        padding: 0;

        span{
            position: relative;
            display: block;
            padding: 0 0 4px 0;
            transition: color .35s, background-size 0.3s, background-position 0s 0.3s;
            background-image: linear-gradient(var(--color-bg-darkest) 0 0);
            background-position: 0 100%;
            background-size: 0 1px;
            background-repeat: no-repeat;
        }

        svg{
            margin-left: 10px;
            fill: var(--color-bg-darkest);
        }

        &:hover{
            span{
                color: var(--color-bg-darkest);
                background-position: 100% 100%;
                background-size: 100% 1px;
            }
        }
    }
}

.breadcrumbsWrapper{
    line-height: 1;

    .breadcrumbs{
        width: 100%;
        margin: 0 auto;
        color: var(--color-text-white);
        font-size: 14px;
        height: 14px;

        @media (max-width: 1024px) {
            font-size: 13px;
            height: 13px;
        }

        & > span {
            display: flex;
            gap: 8px;
            align-items: flex-end;
            justify-content: center;
            font-size: 14px;
            font-weight: 400;
            height: 14px;

            @media (max-width: 1024px) {
                font-size: 13px;
                height: 13px;
            }

            & > span{
                display: flex;
                gap: 10px;
                align-items: center;
                height: 14px;

                @media (max-width: 1024px) {
                    height: 13px;
                }
            }
        }

        a{
            color: var(--color-accent-teal);
            text-decoration: none;

            &:hover{
                text-decoration: underline;
            }
        }
    }
}
