/* dashboard custom styles
-------------------------------------------------------------- */

@import "mixins";
@import "animation";
@import "variables";
@import "plugins/select2.min";

/* disable-welcome-and-tips */
.wp-admin .components-popover.nux-dot-tip {
    display: none !important;
}

/* hide wpml translation priority options */
#icl_translation_priority_dropdown,#icl_how_to_translate_link,.icl_subsubsub,.otgs-notice {
    display: none !important;
}

/* fix wpml dashboard language switcher */
#wp-admin-bar-WPML_ALS{
    .ab-item{
        font-size: 0 !important;

        span,
        .ab-sub-wrapper{
            font-size: 13px !important;
        }
    }

    .ab-sub-wrapper{

        .ab-item{
            font-size: 13px !important;
            min-width: 37px !important;
        }
    }

    .otgs-ico-help{
        display: none;
    }

    #wp-admin-bar-WPML_ALS_all{
        display: none !important;
    }
}

/* change width of gutenberg sidebar */
.is-gutenberg-sidebar-opened .interface-navigable-region.interface-interface-skeleton__sidebar{
    width: 500px !important;

    .interface-complementary-area__fill{
        width: 100% !important;

        .interface-complementary-area.editor-sidebar{
            width: 100% !important;
        }
    }
}

/* fix tiny mce editor fullscreen mode */
body.mce-fullscreen{
    .interface-interface-skeleton__sidebar{
        position: absolute;
        top: 100%;
        left: 100%;
    }
    .mce-fullscreen{
        z-index: 10000000000000;
        @include transform(translateZ(10000000000000000px));
    }
}

/* fix acf */
.acf-postbox.seamless{
    & > .acf-fields{
        & > .acf-field{
            background-color: #fff;
            border: solid 1px #ccd0d4 !important;
            border-top: none !important;

            &:first-child{
                border-top: solid 1px #ccd0d4 !important;
            }

            &.acf-field-accordion{
                margin-left: 0 !important;
                margin-right: 0 !important;
                border: #ccd0d4 solid 1px !important;
            }
        }
        .acf-tab-wrap{
            margin-bottom: 0 !important;
            overflow: visible !important;

            li{
                margin: 0 4px 0 0;

                a{
                    padding: 5px 8px;
                    font-size: 13px;
                }
            }
            .active{
                a{
                    background-color: #fff !important;
                    padding: 5px 8px 6px;
                }
            }
        }
    }
    & > .inside{
        padding-left: 12px !important;
        padding-right: 12px !important;
    }
    .acf-tab-group{
        border-bottom: #ccd0d4 solid 1px !important;
        padding-top: 0;
    }
    .acf-tab-wrap {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
#custom_acf_options_widget{
    #message{
        display: none;
    }
    .inside{
        padding: 0;
        margin: 0;
    }
    .acf-form-submit{
        padding: 10px;
        text-align: right;
        border-top: solid 1px #DFDFDF;
    }
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button{
        -webkit-appearance: none !important;
        margin: 0 !important;
    }
    input[type="number"]{
        -moz-appearance: textfield !important;
    }
}
.acf-range-wrap{
    input[type="number"]{
        padding-right: 3px !important;
    }
}
.no_label > .acf-label{
    display: none;
}
.acf-field{
    .acf-image-uploader.has-value{
        img{
            width: 100%;
            max-width: 180px;
            aspect-ratio: 1/1;
            object-fit: contain;
        }
    }
}

/* new gutenberg fixes */
.editor-header .editor-header__center{
    display: none !important;
}
.editor-list-view-sidebar{
    .block-editor-tabbed-sidebar__tablist-and-close-button{
        display: none !important;
    }
}
.block-editor-inserter__main-area{
    .block-editor-tabbed-sidebar__tablist-and-close-button{
        .block-editor-tabbed-sidebar__tab:last-child{
            display: none !important;
        }
    }
}

/* custom options pages */
.linkPreview{
    display: none;

    &.show{
        display: block;
    }

    & > *{
        display: none;

        &.show{
            display: inline;
        }
    }

    .title{
        font-weight: 500;
    }

    .url{
        color: #2782ad;
    }

    .target{
        font-style: italic;
    }
}
.custom-button-link-button{
    &.hide{
        display: none;
    }
}

/* fix code field on custom options pages */
.CodeMirror{
    border: solid 1px #DDDDDD;
}

/* fix custom post type redirect rules */
.post-type-redirect-rules{
    #acf_after_title-sortables{
        margin-top: 0 !important;
    }
}

/* custom dashboard meta */
.post-type-mail-log{
    .wp-heading-inline,
    .wp-header-end,
    #screen-meta-links,
    .handle-order-higher,
    .handle-order-lower{
        display: none !important;
    }
    .meta-box-sortables{
        padding: 0 !important;
        margin: 0 !important;
    }
    #custom-orders-information-fields-meta-box,
    #custom-payments-information-fields-meta-box,
    #custom-payments-information-fields-meta-box-2,
    #custom-sms-log-information-fields-meta-box,
    #custom-email-log-information-fields-meta-box,
    #custom-email-log-information-fields-meta-box-2{

        .inside{
            padding: 0 !important;
            margin: 0 !important;
        }

        table{
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            border: none;
            margin-bottom: 0;

            tbody{
                tr{
                    border-bottom: solid 1px #e5e5e5;

                    td{
                        padding: 12px;
                        border-right: solid 1px #e5e5e5;

                        &:last-child{
                            font-weight: 600;
                        }
                    }

                    &:last-child{
                        border-bottom: none;
                    }

                    &:hover{
                        background-color: #f9f9f9;
                    }
                }
            }

            p{
                margin: 0 !important;
                line-height: 1.8 !important;
            }

            .mailPreview{
                width: 100% !important;
                max-width: 100% !important;
                height: auto;
            }
        }
    }
    #custom-payments-information-fields-meta-box-2,
    #custom-sms-log-information-fields-meta-box-2,
    #custom-mail-log-information-fields-meta-box-3{
        #log_data{
            display: none !important;
        }
    }
    #custom-email-log-information-fields-meta-box-2{
        .inside{
            font-size: 0 !important;
        }
    }
}

/* hide acf field group synchronise widget */
#acfml-field-group-synchronise{
    display: none !important;
}

/* disable editing for copied acf fields */
.acfml-field-copied{
    opacity: 0.75;
    pointer-events: none;

    .acfml-field-copied{
        opacity: 1;
    }
}

/* mce translate popup */
.translate-popup-bg{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.7);
    transform: translateZ(150000000000000000px);
    z-index: 150000000000000000;
}
.translate-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    background: #fff;
    padding: 40px 20px 20px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    transform: translateZ(150000000000000001px) translate(-50%, -50%);
    z-index: 150000000000000001;

    &.busy {
        cursor: wait;
        pointer-events: none;

        * {
            pointer-events: none;
            opacity: .5;
        }
    }

    .lang-item {
        padding: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 10px;

        &:hover {
            background: #f0f0f0;
        }
    }

    .close-translate-popup {
        position: absolute;
        right: 10px;
        top: 10px;
        background: none;
        border: none;
        font-size: 20px;
        cursor: pointer;
        padding: 0;
        width: 20px;
        height: 20px;
        line-height: 20px;

        &:hover {
            color: #666;
        }
    }
}

/* mce generate popup */
.generate-popup-bg{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.7);
    transform: translateZ(150000000000000000px);
    z-index: 150000000000000000;
}
.generate-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    background: #fff;
    padding: 40px 20px 20px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    z-index: 150000000000000001;
    transform: translateZ(150000000000000001px) translate(-50%, -50%);

    &.busy {
        cursor: wait;
        pointer-events: none;

        * {
            pointer-events: none;
            opacity: .5;
        }
    }

    .generate-popup-content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        gap: 10px;
    }

    input {
        width: 480px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .close-generate-popup {
        position: absolute;
        right: 10px;
        top: 10px;
        background: none;
        border: none;
        font-size: 20px;
        cursor: pointer;
        padding: 0;
        width: 20px;
        height: 20px;
        line-height: 20px;

        &:hover {
            color: #666;
        }
    }
}
