{% if general_fields.cookie_popup_title and general_fields.cookie_popup_text and general_fields.cookie_popup_button_title %}
<div class="cookiePopupWrapper">
    <div class="cookiePopup">
        {% if general_fields.cookie_popup_title %}
        <p class="title">
            <svg>
                <use href="{{ svg_sprite }}#icon-cookie"></use>
            </svg>
            <span>{{ general_fields.cookie_popup_title }}</span>
        </p>
        {% endif %}
        <div class="cls">
            {% if general_fields.cookie_popup_text %}
            <div class="message">
                <input type="checkbox" id="cookie_text_toggle" hidden>
                <div class="toggledContent">
                    <label class="button" for="cookie_text_toggle">{{ __('Tell me more about cookies', TEXTDOMAIN) }}</label>
                    <div class="typo">
                        {{ general_fields.cookie_popup_text }}
                    </div>
                </div>
            </div>
            {% endif %}
            {% if general_fields.cookie_popup_button_title and general_fields.cookie_popup_button_type %}
                {% include 'overall/button.twig' with {'title': general_fields.cookie_popup_button_title, 'type': general_fields.cookie_popup_button_type} %}
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
