@import "../../mixins";

.no-pattern-selected{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 200px;
    color: var(--color-text-white);
    font-size: 32px;
    line-height: 1;
    background-color: var(--color-accent-orange);
}
